body {
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  font: 12px Courier;
}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
p.p2 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Helvetica;
  min-height: 14.0px;
}
.s1 {
  margin: 0.0px 0.0px 14.9px 0.0px;
  line-height: 21.0px;
  font: 12.0px Courier;
  color: yellow;
  -webkit-text-stroke: #000000;
}
span.Apple-tab-span {white-space:pre}
a {
  color: yellow;
}
.yellow {
  color: yellow;
}

img {
  /* This stops images from going past the width of the page */
  max-width: 100%;
}