body {
  background-color: rgba(210, 48, 6, 0.89);
  color: white;
  font: 12px Courier;
  min-height: 100vh;
}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
p.p2 {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Helvetica;
  min-height: 14.0px;
}
.s1 {
  margin: 0.0px 0.0px 14.9px 0.0px;
  line-height: 21.0px;
  font: 12.0px Courier;
  color: rgb(70, 125, 25);
  -webkit-text-stroke: #000000;
}
span.Apple-tab-span {white-space:pre}
a {
  color: rgb(70, 125, 25);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.yellow {
  color: rgb(70, 125, 25);
}

img {
  /* This stops images from going past the width of the page */
  max-width: 100%;
}

.license {
  margin: auto 0;
  display: block;
  margin-top: 100px;
  font-size: 8px;
}

main {
  display: block;
  margin: 20px 0;
}

.main-block {
  display: block;
  margin-bottom: 40px;
}